<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Navigation_Drawer_App.Properties.Settings.Gstion_stockConnectionString"
        connectionString="Data Source=.;Initial Catalog=Gstion_stock;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Navigation_Drawer_App.Properties.Settings.ProjetConnectionString"
        connectionString="Data Source=DESKTOP-C6NIFFI;Initial Catalog=Projet;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>

<!--
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Navigation_Drawer_App.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=DESKTOP-VQQ5NVD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Navigation_Drawer_App.Properties.Settings.gestion_magasinConnectionString"
            connectionString="Data Source=DESKTOP-VQQ5NVD;Initial Catalog=gestion_magasin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Navigation_Drawer_App.Properties.Settings.gestion_magasinConnectionString1"
            connectionString="Data Source=DESKTOP-EQF7V2V\SQLEXPRESS01;Initial Catalog=gestion_magasin;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>-->